.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

button {
  background-color: #006400;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #008000;
}

button:focus {
  outline: none;
}

